
.news-card{
  
    border-radius: 30px;
    border: 3px solid black;
    overflow: hidden; 

    background: white;

    box-shadow: 5px black;

    height: 700px;
    width: 500px;

    position: relative;

    align-items: center;
    margin: 30px;


} 

.ant-row{
    display: flex;
    flex-wrap: wrap;
  
    
}

.cover-card{
    background-color:#0077FE;
    height: 700px;
    width: 500px;
    border-radius: 50px;

    position: absolute;

    margin: 50px 10px;


    
}


.img1{
    align-items: center;
    height: 100px;
    width: 150px;
    margin: 12px 200px -130px;
    border-radius: 30px;

}
.news-title{
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    font-size: 25px;
    background: white;
    color: #23282C;

    text-align: center;

    font-family: Montserrat
    
}  

.news-image-container{
    line-height: 1.5;
    background: white; 
}

.provider-desc{
    font-size: 20px;

    background: white;
    color: #23282C;

    text-transform:none;
    font-family: DM
    
}
.provider-container{
    background: white;
    
    
}
.footer-card{
    background: white;
    
}

.avatart-provider{
    height: 70px;
    width: 20px;
    margin: 30px;
    display: flex;

}

.provider-name,
.provider-text{


    color: black;
    background: white;

    font-family: DM;

    
}

